<template>
  <div class="col-lg-8 mx-auto p-3 py-md-5">
      <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
          <span class="fs-4">Benvingut al Consell per la República</span>
      </header>
      <main>
          <h2>Presentació</h2>
          <p class="fs-5 col-md-8">Aquest és un programa que simula la gestió dels Ciutadans (alta, edició i eliminació), la creació de rebuts i la presentació d'aquests rebuts a una entitat bancària</p>
          <h2>Temes tècnics</h2>
          <p class="fs-5 col-md-8">Aquest és un programa fet amb Vue 3 (Composition API) + bootstrap 5 que està en un S3 d'AWS, que ataca una API feta amb NodeJS (ESModules) que està en un EC2 d'AWS, que ataca una base de dades NoSQL, la MongoDB (Ferran sóc conscient que vas dir la DinamoDB d'AWS), tot el codi el trobareu a la pestanya de codi font per si el voleu examinar.</p>
          <h2>Com començar ?</h2>
          <p class="fs-5 col-md-8">Per poder utilitzar el programa he creat un generador de Ciutadans inventats i aleatòris</p>
          <div class="mb-5">
              <router-link class="nav-link px-0" to="/ciutadanscrear" v-if="store.state.token!=null">
                <button class="btn btn-danger btn-lg px-4">Per començar generem els ciutadans</button>
              </router-link>
              <router-link class="nav-link px-0" to="/login" v-else>
                <button class="btn btn-danger btn-lg px-4" >Primer t'has d'identificar</button>
              </router-link>
          </div>
      </main>
  </div>
</template>


<!-- 
<script>
import {mapActions} from 'vuex'
import {mapState} from 'vuex'

export default {
  methods:{
    ...mapActions(['obtenirToken','tancarSessio','login'])
  },
  computed: {
    ...mapState(['token'])
  },
  created(){
    this.obtenirToken()
  }
}
</script> -->

<script setup>
import { useStore } from 'vuex'

const store = useStore()
const obtenirToken = () => store.dispatch('obtenirToken')

obtenirToken();

// console.log(`Working on '${process.env.NODE_ENV}' mode`)
// console.log(`Working on '${process.env.VUE_APP_BASE_URL}' `)

</script>





