<template>
    <div class="col-lg-9 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-3 border-bottom">
            <span class="fs-4">Editar Ciutadà</span>
        </header>
        <!-- <p>{{id}}</p> -->
        <main>
            <form>
                <AlertBox 
                    :tipusAvis="tipusAvis"
                    :missatgeAvis="missatgeAvis">
                </AlertBox>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="recipient-name" class="col-form-label">ID ciutadà:</label>
                        <input type="text" class="form-control" v-model="ciutada.id_ciutada" placeholder="" disabled/>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="recipient-name" class="col-form-label">Nom:</label>
                        <input type="text" class="form-control" v-model="ciutada.nom" placeholder="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="recipient-name" class="col-form-label">Primer cognom:</label>
                        <input type="text" class="form-control" v-model="ciutada.cognom1" placeholder="" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="recipient-name" class="col-form-label">Segon cognom:</label>
                        <input type="text" class="form-control" v-model.trim="ciutada.cognom2" placeholder="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="recipient-name" class="col-form-label">Gènere:</label>
                        <select  class="form-control" v-model="ciutada.genere" >
                            <option v-for="opcio in opcionsGenere" :value="opcio.value" :key="opcio.value">
                            {{ opcio.text }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="recipient-name" class="col-form-label">Data naixement:</label>
                        <input type="date" class="form-control" v-model="ciutada.dataNaixement" placeholder="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="recipient-name" class="col-form-label">Correu electrònic:</label>
                        <input type="email" class="form-control" v-model.trim="ciutada.email" placeholder="" /> 
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="recipient-name" class="col-form-label">Estat:</label>
                        <select class="form-control" v-model="ciutada.estat" disabled>
                            <option v-for="opcio in opcionsEstat" :value="opcio.value" :key="opcio.value">
                            {{ opcio.text }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="recipient-name" class="col-form-label">Data alta:</label>
                        <input type="date" class="form-control" v-model="ciutada.create_ad" placeholder="" disabled/>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="recipient-name" class="col-form-label">Rebut emès fins:</label>
                        <input type="date" class="form-control" v-model="ciutada.dataUltimRebut" placeholder="" disabled/>
                    </div>
                </div>
            </form>
            <div class="d-flex align-items-center pb-3 mb-3 border-bottom">
                <span class="fs-4">Els rebuts</span>
            </div>
            <div class="col-lg-12 p-3">
                <DemoGrid
                    :data="rebuts"
                    :columns="gridColumns"
                    :filter-key="searchQuery">
                </DemoGrid>
            </div>
            <button type="button" class="btn btn-secondary mx-2" @click="router.push('/ciutadans')">Sortir</button>
            <button type="button" class="btn btn-danger mx-2" @click="actualitzarCiutada(id)">Gravar</button>
            <CiutadaEliminar
                :id="id">
            </CiutadaEliminar>
        </main>
    </div>    
</template>


<script setup>
import { ref , reactive} from 'vue'
import { useStore } from 'vuex'
import { useRoute } from "vue-router";
import router from '../router';
import AlertBox from './auxiliars/AlertBox.vue'
import DemoGrid from './auxiliars/Grid.vue'
import CiutadaEliminar from './CiutadaEliminar.vue'
import axios from 'axios'

const store = useStore()
const route = useRoute();
const gridColumns = ['_id','_id','dataRebut','importPeriode','periodicitat','estat']
const searchQuery = ref('')
const ciutada=ref({})
const rebuts=ref([])
const tipusAvis=ref('')
const missatgeAvis=ref('')
const id = route.params.id;
const opcionsEstat = ref([
                { text: 'Membre ple dret', value: 'M' },
                { text: 'Simpatitzant', value: 'S' },
                { text: 'Baixa', value: 'B' }
                ])
const opcionsGenere = ref([
                { text: 'Home', value: 'H' },
                { text: 'Dona', value: 'D' }
                ])
const headers = {
    'Content-Type': 'application/json',
    'auth-token': store.state.token 
}

async function actualitzarCiutada(id){
    const unwrapped = JSON.parse(JSON.stringify(ciutada.value));
    delete unwrapped._id
    delete unwrapped.estat
    delete unwrapped.create_ad
    delete unwrapped.__v
    // axios.put(`http://localhost:3002/api/ciutada/actualitzar/`+id,unwrapped,{headers: headers
    axios.put(`${process.env.VUE_APP_BASE_URL}/api/ciutada/actualitzar/`+id,unwrapped,{headers: headers
    }).then((response) => {
        tipusAvis.value='avis'
        missatgeAvis.value='Fitxa actualitzada'
    }).catch(e => {
        tipusAvis.value='error'
        missatgeAvis.value=e.response.data.error
    });
}

async function recuperarCiutada(id){
    // axios.get(`http://localhost:3002/api/ciutada/`+id,{headers: headers
    axios.get(`${process.env.VUE_APP_BASE_URL}/api/ciutada/`+id,{headers: headers
    }).then((response) => {
        ciutada.value = response.data.ciutada;
        ciutada.value.dataNaixement = ciutada.value.dataNaixement.substr(0,10)
        ciutada.value.create_ad = ciutada.value.create_ad.substr(0,10)
        ciutada.value.dataUltimRebut = ciutada.value.dataUltimRebut.substr(0,10)
        rebuts.value = response.data.rebuts;
        rebuts.value = rebuts.value.filter((item) => item.dataRebut=item.dataRebut.substr(0,10))
    }).catch(e => {
        alert('Error! al consultar el Ciutadà')
        router.push('/ciutadans')
    });
}

recuperarCiutada(id);  

</script>
