<template>
<button type="button" class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#CiutadaEliminarModal">
  Eliminar
</button>
<div class="modal fade" id="CiutadaEliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Ciutadà</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Estas segur que vols eliminar el Ciutadà ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sortir</button>
        <button type="button" class="btn btn-danger" @click="eliminarCiutada(id)" data-bs-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>
</template>


<script setup>
import { useStore } from 'vuex'
import router from '../router';
import axios from 'axios'

const store = useStore()
const props = defineProps({
  id: String
})

async function eliminarCiutada(id){
  const headers = {
      'Content-Type': 'application/json',
      'auth-token': store.state.token 
  }
  // axios.delete(`http://localhost:3002/api/ciutada/eliminar/`+id,{headers: headers
  axios.delete(`${process.env.VUE_APP_BASE_URL}/api/ciutada/eliminar/`+id,{headers: headers
  }).then((response) => {
      alert('eliminat')
      router.push('/ciutadans');
  }).catch(e => {
      alert('error a l\'eliminar')
  });
}
</script>

