<template>
  <div class="col-lg-8 mx-auto p-3 py-md-5">
      <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
          <span class="fs-4">Crear ciutadans</span>
      </header>
      <main>
          <h2>Cens actual</h2> 
          <p class="fs-5 col-md-10" v-if="totalciutadans>0">En aquests moment hi ha creats <button><b>{{totalciutadans}}</b></button> ciutadans per fer proves </p>
          <p class="fs-5 col-md-10" v-if="totalciutadans==0">No hi ha ciutadans, hauries de crear-ne per poder fer proves</p>

          <h2>Crear ciutadans per fer proves</h2>
          <p class="fs-5 col-md-10">Al prémer aquest botó es crearan ciutadans amb dades inventades i aleatòries, es crearà el nom i cognoms, la seva data de naixement, el gènere, la id de Ciutadà, l'email i l'IBAN.</p>
          <div class="mb-3">
              <!-- <button class="btn btn-danger btn-lg px-4" @click="crearRebuts" >Crear rebuts pendents</button> -->
            <button class="btn btn-danger btn-lg px-4" @click="crearCiutadans">Crear {{contador}} ciutadans de prova més</button>
            <button class="btn btn-danger btn-lg px-4 m-4" @click="contador++" title="Augmentar número de ciutadans">+</button>
            <button class="btn btn-danger btn-lg px-4" :disabled="contador<1" @click="contador--" title="Disminuir número de ciutadans">-</button>
          </div>

          <h2>Gestionar Ciutadans i crear rebuts</h2>
          <p class="fs-5 col-md-10">Pots gestionar els Ciutadans o pots anar a l'apartat de rebuts i generar els rebuts pendents i simular la seva presentació a una entitat bancària</p>
          <div class="mb-3 col-md-12">
            <router-link class="nav-link px-0" to="/ciutadans">
                    <button class="btn btn-danger btn-lg px-4 ">Gestionar els Ciutadans</button>
            </router-link>
            <router-link class="nav-link px-0" to="/rebuts">
                    <button class="btn btn-danger btn-lg px-4 ">Anar a crear rebuts</button>
            </router-link>
          </div>
          <h2>Eliminar tots els ciutadans de proves</h2>
          <p class="fs-5 col-md-10">Al prémer aquest botó s'eliminaran tots els ciutadans de prova i els seus rebuts.</p>
          <div class="mb-5">
            <button class="btn btn-danger btn-lg px-4" :disabled="totalciutadans<1" @click="eliminarCiutadans">Eliminar els {{totalciutadans}} ciutadans existents</button>
          </div>

      </main>
  </div>
</template>

<script setup>
import { ref , reactive } from 'vue'
import { useStore } from 'vuex'
import axios from 'axios'
// import AlertBox from './auxiliars/AlertBox.vue'

const store = useStore()
const contador = ref(10)
const totalciutadans = ref(0)
const headers = {
    'Content-Type': 'application/json',
    'auth-token': store.state.token 
}


async function contarCiutadans(){
    // console.log('contarCiutadans')
    // console.log('token:',store.state.token)

    // axios.get(`http://localhost:3002/api/ciutada/contar`,{headers: headers
    axios.get(`${process.env.VUE_APP_BASE_URL}/api/ciutada/contar`,{headers: headers
    }).then(response => {
        totalciutadans.value=response.data.numerociutadans
    }).catch(e => {
        alert(`Error! al comptar ciutadans: ${e.response.data.missatge}`)
        console.log(e)
    })


    // if (1==2){
    // try {
    //     const res = await fetch('http://localhost:3002/api/ciutada/contar', {
    //         method: 'GET',
    //         headers: {
    //         'Content-Type': 'application/json',
    //         'auth-token': store.state.token 
    //         },
    //     })
    //     const resDB= await res.json()
    //     totalciutadans.value=resDB.numerociutadans
    // } catch (error) {
    //     console.log(error)
    // }
    // }
}

async function crearCiutadans(){
    // axios.post(`http://localhost:3002/api/ciutada/crearciutadans`
    axios.post(`${process.env.VUE_APP_BASE_URL}/api/ciutada/crearciutadans`
        ,{'numeroCiutadans' : contador.value}
        ,{headers: headers
    }).then(response => {
        contarCiutadans()
    }).catch(e => {
        alert(`Error! al crear ciutadans: ${e.response.data.missatge}`)
        console.log(e)
    })


    // if (1==2){
    // try {
    //     const res = await fetch('http://localhost:3002/api/ciutada/crearciutadans', {
    //         method: 'POST',
    //         headers: {
    //         'Content-Type': 'application/json',
    //         'auth-token': store.state.token 
    //         },
    //         body: JSON.stringify({'numeroCiutadans' : contador.value})
    //     })
    //     const resDB= await res.json()
    //     let missatge=resDB.missatge
    //     contarCiutadans()
    // } catch (error) {
    //     console.log(error)
    // }
    // }
}

async function eliminarCiutadans(){
    // axios.delete(`http://localhost:3002/api/ciutada/eliminarciutadans`,{headers: headers
    axios.delete(`${process.env.VUE_APP_BASE_URL}/api/ciutada/eliminarciutadans`,{headers: headers
    }).then(response => {
        // alert(response.data.missatge)
        totalciutadans.value=0
    }).catch(e => {
        alert(`Error! a l\'eliminar ciutadans: ${e.response.data.missatge}`)
        console.log(e)
    })


    // try {
    //     const res = await fetch('http://localhost:3002/api/ciutada/eliminarciutadans', {
    //         method: 'DELETE',
    //         headers: {
    //         'Content-Type': 'application/json',
    //         'auth-token': store.state.token 
    //         },
    //     })
    //     // ciutadans.value=[]
    //     // gridData.value=[]
    //     // totalciutadans.value=0
    //     contarCiutadans()
    // } catch (error) {
    //     console.log(error)
    // }
}

contarCiutadans()
</script>

