<template>
    <div class="col-lg-11 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-3 border-bottom">
            <span class="fs-4">Ciutadans</span>
        </header>
        <main>
            <div class="col-lg-12 p-3">
                <form id="search" v-on:submit.prevent="onSubmit">
                    <div class="mb-3 col-md-5">
                        <label for="recipient-name" class="col-form-label">Filtre:</label>
                        <input class="form-control" type="text" placeholder="Busca pel cognom" v-model="filtre" v-on:keyup.enter="submit">
                        <button type="submit" class="btn btn-danger m-2 " @click="recuperarCiutadans">Buscar</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-12 p-3">
                <span v-if="totalciutadans==1">L'únic resultat</span>
                <span v-if="totalciutadans>1">Els primers {{totalciutadans}} resultats</span>
                <DemoGrid
                    :data="ciutadans"
                    :columns="gridColumns"
                    :filter-key="searchQuery">
                </DemoGrid>
            </div>
        </main>
    </div>
</template>


<script setup>
import { ref , onMounted , reactive } from 'vue'
import { useStore } from 'vuex'
import CiutadansCrear from './CiutadansCrear.vue'
import DemoGrid from './auxiliars/Grid.vue'
import axios from 'axios'

const store = useStore()
const totalciutadans = ref(0) 
const searchQuery = ref('')
const gridColumns = ['_id','cognom1','cognom2','nom','id_ciutada','dataNaixement','email']
const ciutadans = ref([])
const filtre = ref('')

async function recuperarCiutadans(){
    const headers = {
        'Content-Type': 'application/json',
        'auth-token': store.state.token 
    }
    if (filtre.value==''){
        // var url=`http://localhost:3002/api/ciutada/llistar/SenseFiltre`
        var url=`${process.env.VUE_APP_BASE_URL}/api/ciutada/llistar/SenseFiltre`
    } else {
        // var url=`http://localhost:3002/api/ciutada/llistar/`+filtre.value
        var url=`${process.env.VUE_APP_BASE_URL}/api/ciutada/llistar/`+filtre.value
    }
    axios.get(url,{headers: headers
    }).then((response) => {
        ciutadans.value=response.data.ciutadans
        ciutadans.value = ciutadans.value.filter((item) => item.dataNaixement=item.dataNaixement.substr(0,10))
        totalciutadans.value=ciutadans._rawValue.length
    }).catch(e => {
        alert('Error! al consultar el Ciutadà')
    });
}

recuperarCiutadans();  

</script>

