<template>
<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <span class="fs-4">Codi font</span>
    </header>
    <main>
        <h2>API Backend</h2> 
        <p class="fs-5 col-md-10">Per accedir al codi font de l'API escrit amb NodeJS</p>
        <a href="https://gitlab.com/jsellarespuig/primera-prova" target="_blank"><button class="btn btn-danger btn-lg px-4 mb-4">Codi font backend</button></a>
        <h2>Frontend</h2> 
        <p class="fs-5 col-md-10">Per accedir al codi font del frontend escrit amb Vue 3</p>
        <a href="https://gitlab.com/jsellarespuig/segon-projecte" target="_blank"><button class="btn btn-danger btn-lg px-4 mb-4">Codi font frontend</button></a>

    </main>
</div>
</template>

<script>
</script>

