<template>
<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <span class="fs-4">Login</span>
    </header>
    <main>
        <h2>Identificat amb usuari i paraula de pas</h2>
        <!-- api options -->
        <!-- <form @submit.prevent="login(usuari)"> -->
        <!-- api composition -->
        <form @submit.prevent="login">
            <div class="mb-3 col-md-5">
                <label for="recipient-name" class="col-form-label">Correu electrònic:</label>
                <input class="form-control" type="email" placeholder="Entra el correu electrònic " v-model="usuari.email">
            </div>
            <div class="mb-3 col-md-5">
                <label for="recipient-name" class="col-form-label">Paraula de pas:</label>
                <input class="form-control" type="password" placeholder="Entra la paraula de pas" v-model="usuari.password">
            </div>
            <div class="mb-3 col-md-5">
                <button class="btn btn-danger btn-lg px-4" type="submit" >Accedir</button>
            </div>
        </form>
    </main>
</div>
</template>

<script setup> 
import { ref } from 'vue'
import { useStore } from 'vuex'
import { computed } from 'vue'

const usuari = ref({email: 'jsellarespuig3@gmail.com', password: '123123'}) 
const store = useStore()
const login = () => store.dispatch('login',usuari.value)
</script>

