<template>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <span class="fs-4">Adeu! sessió tancada</span>
        </header>
        <main>
            <h2>Si vols identificar-te</h2>
            <div class="mb-5">
                <router-link class="nav-link px-0" to="/login" v-if="store.state.token==null">
                    <button class="btn btn-danger btn-lg px-8">Anar a indetificar-me</button>
                </router-link>
            </div>
        </main>
    </div>
</template>

<script setup>
import { useStore } from 'vuex'
const store = useStore()
</script>

