<template>
<div class="col-lg-8 mx-auto p-3 py-md-5">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <span class="fs-4">Gestió de rebuts</span>
    </header>
    <main>
        <h2>Crear els rebuts pendent</h2>
        <p class="fs-5 col-md-8">Al prémer aquest botó crearàs tots els rebuts pendents de crear.</p>
        <div class="mb-5">
            <button class="btn btn-danger btn-lg px-4" @click="crearRebuts" >Crear rebuts pendents</button>
        </div>
        <h2>Crear fitxer de rebuts a presentar</h2>
        <p class="fs-5 col-md-8">Al prémer aquest botó es crearà i baixarà el fitxer amb tots els rebuts pendents de presentar a l'entitat bancària i es passaran tots els rebuts a "cobrats"'</p>
        <div class="mb-5">
            <button class="btn btn-danger btn-lg px-4" @click="presentarRebuts" >Crear fitxer de presentació de rebuts</button>
        </div>
    </main>
</div>
</template>

<script setup>
import { ref } from 'vue'
import { useStore } from 'vuex'
import axios from 'axios'
import moment from 'moment';

moment().format();
const store = useStore()
const headers = {
    'Content-Type': 'application/json',
    'auth-token': store.state.token 
}

async function crearRebuts(){
    // axios.post(`http://localhost:3002/api/rebut/crearrebuts`,{},{headers: headers
    axios.post(`${process.env.VUE_APP_BASE_URL}/api/rebut/crearrebuts`,{},{headers: headers
    }).then(response => {
        alert(response.data.missatge)
    }).catch(e => {
        alert(`Error! al crear rebuts: ${e.response.data.missatge}`)
        console.log(e)
    })
}

async function presentarRebuts(){
    // axios.get(`http://localhost:3002/api/rebut/presentarrebuts`,{headers: headers, responseType: 'blob'
    axios.get(`${process.env.VUE_APP_BASE_URL}/api/rebut/presentarrebuts`,{headers: headers, responseType: 'blob'
    }).then(response => {
        if (response.data.size==2){
            alert('No hi ha rebuts pendents de presentar')
        } else {
            var fileURL = window.URL.createObjectURL(new Blob([response.data]));
            var fileLink = document.createElement('a');
            var nomarxiu='rebuts_'+moment().format('YYYY_MM_DD_HH_mm_ss')+'.txt';
            fileLink.href = fileURL;
            fileLink.setAttribute('download', nomarxiu);
            document.body.appendChild(fileLink);
            fileLink.click();
        }
    }).catch(e => {
        console.log(e)
    })
}
</script>

