<template>
  <div v-show="tipusAvis=='error'" class="alert-box-error">
    <strong>S'ha produit un error - {{missatgeAvis}}</strong>
  </div>
  <div v-show="tipusAvis=='avis'" class="alert-box-avis">
    <strong>{{missatgeAvis}}</strong>
  </div>

</template>


<script setup>
import { ref, computed } from 'vue'

const props = defineProps({
  tipusAvis: String,
  missatgeAvis: String
})
  
</script>

<style scoped>
.alert-box-error {
  color: red;
  border: 1px solid red;
  border-radius: 4px;
  padding: 20px;
  background-color: #f8f8f8;
}
  
.alert-box-avis {
  color: green;
  border: 1px solid green;
  border-radius: 4px;
  padding: 20px;
  background-color: #f8f8f8;
}

</style>