<template>
  <table v-if="filteredData.length">
    <thead>
      <tr>
        <th v-for="(item, index) in columns" :key="index"
          @click="sortBy(item)"
          :class="{ active: sortKey == item }">
          <span v-if="index!=0 && index<7">
            {{ capitalize(item) }}
            <span class="arrow" :class="sortOrders[item] > 0 ? 'asc' : 'dsc'">
            </span>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData" :key="entry._id">
        <td v-for="(item, index) in columns" :key="index" >
          <span v-if="index==0">
              <router-link :to="{ name: 'ciutada', params: { id: entry._id } }"><button class="btn btn-danger btn-sm m-1">Editar</button></router-link>
          </span>
          <span v-if="index!=0 && index<7">{{entry[item]}}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <p v-else>No hi ha coincidències</p>
</template>

<script setup>
import { ref, computed } from 'vue'
import CiutadaEditar from '../CiutadaEditar.vue'

const props = defineProps({
  data: Array,
  columns: Array,
  filterKey: String
})

const sortKey = ref('')
const sortOrders = ref(
  props.columns.reduce((o, key) => ((o[key] = 1), o), {})
)

const filteredData = computed(() => {
  let { data, filterKey } = props
  if (filterKey) {
    filterKey = filterKey.toLowerCase()
    data = data.filter((row) => {
      return Object.keys(row).some((key) => {
        return String(row[key]).toLowerCase().indexOf(filterKey) > -1 
      })
    })
  }
  const key = sortKey.value
  if (key) {
    const order = sortOrders.value[key]
    data = data.slice().sort((a, b) => {
      a = a[key]
      b = b[key]
      return (a === b ? 0 : a > b ? 1 : -1) * order
    })
  }
  return data
})

function sortBy(key) {
  sortKey.value = key
  sortOrders.value[key] *= -1
}

function capitalize(str) {
  return str.charAt(0).toUpperCase() + str.slice(1)
}
</script>


<style>
table {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
}

th {
  /* background-color: #42b983; */
  background-color: #df4759;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;  
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th,
td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
</style>