<template>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" >
        <img src="/imatges/logosencerbo.png" alt="" width="150" height="40">
      </a>
      <button class="navbar-toggler" type="button" 
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" 
          @click="visible=!visible"
          >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" :class="!visible?'collapse':''" id="navbarSupportedContent">
        <div class="navbar-nav">
          <router-link class="nav-link m-2" @click="visible = !visible" aria-current="page" to="/" >Benvinguda</router-link>
          <router-link class="nav-link m-2" @click="visible = !visible" to="/ciutadanscrear" v-if="store.state.token!=null">Generar/eliminar ciutadans</router-link>
          <router-link class="nav-link m-2" @click="visible = !visible" to="/ciutadans" v-if="store.state.token!=null">Ciutadans</router-link>
          <router-link class="nav-link m-2" @click="visible = !visible" to="/rebuts" v-if="store.state.token!=null">Rebuts</router-link>
          <router-link class="nav-link m-2" @click="visible = !visible" to="/codifont" v-if="store.state.token!=null">Codi font</router-link>
          <router-link class="nav-link m-2" @click="visible = !visible" to="/login" v-if="store.state.token==null">login</router-link>
          <router-link class="nav-link m-2" to="/logout" v-if="store.state.token!=null" @click="tancarSessio">logout</router-link>
        </div>
      </div>
    </div>
  </nav>
  <router-view/>  
</template>

<!-- versió API Option Vue 2 -->

<!-- <script>
import {mapActions} from 'vuex'
import {mapState} from 'vuex'
export default {
  methods:{
    ...mapActions(['obtenirToken','tancarSessio','login'])
  },
  computed: {
    ...mapState(['token'])
  },
  created(){
    this.obtenirToken()
  }
}
</script> -->

<!-- versió API Composition Vue 3 -->

<script setup>
import { useStore } from 'vuex'
import { ref } from 'vue'

const visible=ref(false)
const store = useStore()
const tancarSessio = () => store.dispatch('tancarSessio')
</script>

<!-- per cridar computed 
import { computed } from 'vue'
const setToken = computed(() => store.getters.setToken) -->
